
# Submit dependencies
name: Dependencies

on:
  push:
    branches:
    - main

permissions:
  contents: write

jobs:
  dependencies:

    name: Submit dependencies
    runs-on: ubuntu-latest

    steps:

    # ================================
    # SHALLOW CLONE
    # ================================
    - name: Shallow clone
      uses: actions/checkout@v4

    # ================================
    # SET UP JDK
    # ================================
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-package: jdk
        java-version: 21

    # ================================
    # SUBMIT DEPENDENCIES
    # ================================
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v3
      env:
        # Exclude all dependencies that originate solely in the 'api-compatibility' project
        DEPENDENCY_GRAPH_EXCLUDE_PROJECTS: ':api-compatibility'
        # Exclude dependencies that are only resolved in test classpaths
        DEPENDENCY_GRAPH_EXCLUDE_CONFIGURATIONS: '.*[Tt]est(Compile|Runtime)Classpath'
